{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
           
               
              <form  method="post" action="" >
                {% csrf_token %}
                {% for field in form %}
                  <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                  </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary" value="signup">Signup</button>
              </form>
           
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
